<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <mat-card>
          <div class="container text-center mt20">
            <img src="../../../assets/quiz3.png" alt="" />
          </div>

          <h1 class="text-center"><b>LOGIN</b></h1>

          <!-- {{ loginData | json }} -->
          <form (ngSubmit)="formSubmit()">
            <!-- Username field -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>User Name</mat-label>
              <input
                [(ngModel)]="loginData.username"
                name="username"
                required
                matInput
                placeholder="Enter here"
              />
              <mat-hint>Valid Username</mat-hint>
            </mat-form-field>

            <!-- Password field -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>User Password</mat-label>
              <input
                [(ngModel)]="loginData.password"
                name="password"
                type="password"
                matInput
                placeholder="Enter here"
                required
              />
              <mat-hint>Valid Password</mat-hint>
            </mat-form-field>

            <div class="container text-center">
              <button
                class="mb20"
                mat-raised-button
                color="primary"
                type="submit"
              >
                Login
              </button>
              <!-- <button class="ml10" mat-raised-button color="accent">
                Reset
              </button> -->
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
